.axis-label {
  -fx-text-fill: #00ff80;
}

.axis {
  -fx-tick-label-fill: white;
}

.chart-title {
  -fx-text-fill: #00ff80;
  -fx-font-size: 1.2em;
}

.chart-plot-background {
    -fx-background-color: #e5f7ee;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #00b159;
}

/*.chart-bar {
	-fx-background-color: #00b159;
}*/

.chart-bar.default-color0 {
  -fx-bar-fill: #00b159;
}

/*.data0.chart-bar {
   -fx-background-color: red;
}

.data1.chart-bar {
   -fx-background-color: blue;
}*/

/*.chart {
	-fx-border-width: 1.5px;
	-fx-border-color: blue;
}*/
